{% extends "_layout" %}
{% set callToAction = "noe" %}
{% set active = "Online Quote" %}
{% block content %}


	
	<section>
		<div class="grid-container">
			<div class="grid-x grid-padding-x align-center">
				<div class="small-12 cell">
					<h2>Online Quote</h2>
					<div id="fyEQAFrameWrapper" class="fyEQAFrameWrapper"><iframe id="fyEQAFrame" class="fyEQAFrame" style="width: 100%; height: 640px; border: none;" src="https://flyeasy.co/opapi/-fe3--dt1-ctp:okav:-/57da0ab0c1fe036a3c70e9f6/" width="300" height="150"></iframe></div> <script src="https://flyeasy.co/js/loaders/all.api.loader.min.js"></script>
				</div>
			</div>
		</div>
	</section>


{% endblock %}